@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	background-color:lemonchiffon;
}
	
.main {
	width:80%;
	background-color:white;
	margin:auto;   
}
	
ul.nav {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:indianred;
	width:100%;
	position:fixed;
}

ul.nav li {
	float:left;
}	

li a, .dropbtn {
	display:block;
	height:50px;
	line-height:50px;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-family:roboto;
}
	
li a:hover {
	background-color:gray;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color:gray;
}
	
li a.active {
	background-color:#900;
}

li.right {float:right;}

@media screen and (max-width:600px) {
	li.right,
	li {float:none;}
}

.dropdown {
	position:relative;
	display:inline-block;
}

.dropdown-content {
	display:none;
	position:absolute;
	background-color:lavender;
	min-width:170px;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
}

.dropdown-content a {
	color:black;
	padding:12px 16px;
	text-decoration:none;
	display:block;
	text-align:center;
	width:170px;
	font-family: 'Mina', sans-serif;
}

.dropdown-content a:hover {
	background-color:aliceblue;
}

.dropdown:hover .dropdown-content {
	display:block;
}

.tbar {
	width:100%;
	height:60px;
	background-color:dimgray;
	position:relative;
}

.name {
	color:lightgoldenrodyellow;
	position:absolute;
	bottom:0px;
	font-family: 'Karma', serif;
	font-size:36px;
	width:50%;
	float:left;
}

.name::after {
	clear:both;
	
}

.logo {
	display:block;
	height:50px;
	padding:0 0;
	text-decoration:none;
}

.social {
	width:50%;
	float:right;
}

.fa {
  padding: 8px;
  font-size: 20px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 15px 2px;
  border-radius:50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid white;
    float: left;
    width: 80%;
    background: white;
}

form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}